.background{
    background-color:silver;
}

.footer{
    vertical-align: bottom;
}

.navbar-custom {
    background-color: rgb(34, 46, 58);
  }
  
.title-custom{
color: royalblue;
}

.white{
    color: white;
}