.category{
    width: 300px;
    height: 300px;
    margin-left: 80px;
}

.category-container{
    display: flex;
    text-align: center;
    
}

.image{
    height: 250px;
    width: 250px;
    margin-top: 20px;
    border-radius: 20px;
}

.size{
    width: 200px;
    height: 150px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.thumbnail-container{
    height: 300px;
    width: 300px;
}

.HorizontalSlider-title{
    font-size:xx-large;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color:darkblue;
}

.HorizontalSlider-container{
    display:flex;
}

.image-title{
    font-size:large;
    text-align: center;
    font-weight:bold;
    color:rgb(34, 46, 58);;
}

.component-container{
    border-radius: 20px;
    margin-bottom: 20px;
}

.center{
    text-align: center;
    margin-left: 85px;
}

.cart-items{
    text-align: right;
    margin-right: 20px;
    color: red;
    font-weight: bolder;
}

/* .little-square {
    background: black;
    margin: 10px;
    display: inline;
    padding: 15px 25px;
    line-height: 65px;
  }

.little-square:nth-child(4n):after {
content: "\00000a";
white-space: pre;
} */

/* .content{
    box-sizing: border-box;
    display: inline-block;
    margin-top: 8px;
    position: relative;
    vertical-align: top;
    white-space: normal;
    width: 100%;
} */

.right-space{
    margin-right: 20px;
}